# CONFIG_USB_EXTRON_DA_HD_4K_PLUS_CEC is not set
CONFIG_USB_ACM=y
CONFIG_USB_GADGET_DEBUG_FS=y
CONFIG_USB_F_SS_LB=m
CONFIG_USB_F_HID=y
CONFIG_USB_CONFIGFS_F_HID=y
# CONFIG_USB_ZERO_HNPTEST is not set
