# Assign specific ownership and tag for session management

SUBSYSTEM=="dma_heap", KERNEL=="*reserved*", GROUP="video", MODE="0660", TAG+="uaccess", SYMLINK+="dma_heap/reserved"

