# CONFIG_RISCV_ISA* are enabled by default in linux-xlnx/arch/riscv/configs/amd.config
# These configs needs to be disabled here and enable based on TUNE_FEATURES set
# in design.

# CONFIG_RISCV_ISA_ZBA is not set
# CONFIG_RISCV_ISA_ZBB is not set
# CONFIG_RISCV_ISA_ZBC is not set
# CONFIG_RISCV_ISA_ZICBOM is not set
