
# DMA
CONFIG_XILINX_DMA_ENGINES=y
CONFIG_XILINX_AXIDMA=y
CONFIG_XILINX_AXICDMA=y
# DMA (linux-xlnx 3.14 only)
CONFIG_XILINX_AXIVDMA=y

# PCI(e) (linux-xlnx 3.14 & 3.19 only)
CONFIG_XILINX_AXIPCIE=y
CONFIG_PCI_MSI=y

# Xilinx Traffic Generator
CONFIG_XILINX_TRAFGEN=y

CONFIG_XILINX_PHY=y
