/ {
	model = "xilinx-zynq-a9";
	chosen {
		bootargs = "console=ttyPS0,115200";
		linux,stdout-path = "/amba@0/serial@e0001000";
	} ;
	ps7_ddr_0: memory@0 {
		device_type = "memory";
		reg = <0x0 0x40000000>;
	} ;
	ps7_axi_interconnect_0: amba@0 {
		ps7_ethernet_0: ps7-ethernet@e000b000 {
			phy-handle = <&phy0>;
			phy-mode = "gmii";
			mdio {
				phy0: phy@23 {
					device_type = "ethernet-phy";
					reg = <23>;
				} ;
			} ;
		} ;
		ps7_qspi_0: ps7-qspi@e000d000 {
			is-dual = <1>;
			primary_flash: ps7-qspi@0 {
				#address-cells = <1>;
				#size-cells = <1>;
				compatible = "st,m25p80";
				reg = <0x0>;
				spi-max-frequency = <50000000>;
				partition@0x00000000 {
					label = "boot";
					reg = <0x00000000 0x00500000>;
				};
				partition@0x00500000 {
					label = "bootenv";
					reg = <0x00500000 0x00020000>;
				};
				partition@0x00520000 {
					label = "config";
					reg = <0x00520000 0x00020000>;
				};
				partition@0x00540000 {
					label = "image";
					reg = <0x00540000 0x00a80000>;
				};
				partition@0x00fc0000 {
					label = "spare";
					reg = <0x00fc0000 0x00000000>;
				};
			} ;
		} ;
		
		/* Disabled Devices */
		ps7_gpio_0: ps7-gpio@e000a000 { compatible = "invalid"; };
		ps7_uart_0: serial@e0000000 { compatible = "invalid"; };
		ps7_ethernet_1: ps7-ethernet@e000c000 { compatible = "invalid"; };
		ps7_i2c_0: ps7-i2c@e0004000 { compatible = "invalid"; };
		ps7_i2c_1: ps7-i2c@e0005000 { compatible = "invalid"; };
		ps7_wdt_0: ps7-wdt@f8005000 { compatible = "invalid"; };
		ps7_can_0: ps7-can@e0008000 { compatible = "invalid"; };
		ps7_can_1: ps7-can@e0009000 { compatible = "invalid"; };
		/* Not Implemented in QEMU */
		ps7_xadc: ps7-xadc@f8007100 { compatible = "invalid"; } ;
	} ;
} ;
